[Unit]
Description=Rust Chat Server
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
RuntimeMaxSec=30d
User=ec2-user
ExecStart=/home/ec2-user/chat-server/chat_server

[Install]
WantedBy=multi-user.target
